apipkg==1.4
attrs==17.3.0
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.9
EasyProcess==0.2.3
execnet==1.5.0
idna==2.6
pluggy==0.6.0
py==1.5.2
pyodbc==4.0.22
pyperclip==1.6.0
pytest==3.3.1
pytest-forked==0.2
pytest-repeat==0.4.1
pytest-xdist==1.20.1
python-tds==1.9.0
PyVirtualDisplay==0.2.1
requests==2.18.4
selenium==3.8.0
six==1.11.0
teamcity-messages==1.21
urllib3==1.22
xvfbwrapper==0.2.9
